.ad_unit{
    display: flex;
    height: 520px;
}

.carousel{
    display: relative;
    height: 520px;
    min-height: 520px;
    width: 630px;
    min-width: 630px;
    overflow: hidden;
}

.carousel_track{
    display: flex;
    width: 1260px;
    height: 100%;
    transition: .5s;
}

.pos0{
    transform: translateX(0%);
}

.pos1{
    transform: translateX(-50%);
}

.slide_one, .slide_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    height: 100%;
}

.slide_one_button{
    height: 50px;
}

.slide_two_button{
    height: 100%;
}

.slide_one{
    background: #233c5b;
}

.slide_one_logo_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 85%;
    margin: 50px 0px;
}

.slide_one_logo{
    width: 300px;
    height: 50px;
}

.slide_one_text{
    width: 85%;
}

.slide_one_button_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 85%;
    margin: 50px;
}

.slide_two{
    background: #ffffff;
}

.slide_two_container{
    width: 95%;
    margin: 40px 0px;
}

.slide_two_button_container{
    display: flex;
    justify-content: flex-start;
    height: 45px;
    margin: 100px 0px 0px 0px;
}

.prev, .next{
    position: absolute;
    top: 340px;
}

.prev img, .next img{
    width: 50%;
    opacity: .3;
    transition: .5s;
}

.prev img:hover, .next img:hover{
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}

.prev{
    left: 15px;
}

.next{
    left: 540px;
}


.video{
    display: flex;
    height: 100%;
}

.video video{
    height: 100%;
}


@media (max-width: 768px) {
    .ad_unit{
        display: flex;
        height: 430px;
        width: 360px;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .carousel{
        display: relative;
        height: 228px;
        min-height: 228px;
        width: 360px;
        min-width: 360px;
        overflow: hidden;
    }

    .carousel_track{
        display: flex;
        width: 720px;
        transition: .5s;
    }

    .slide_one, .slide_two{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 100%;
    }

    .slide_one_button{
        height: 25px;
    }

    .slide_two_button{
        height: 20px;
    }

    .slide_one_logo_container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        width: 80%;
        margin: 15px 0px;
    }

    .slide_one_logo{
        width: 170px;
        height: 29px;
    }

    .slide_one_text{
        width: 80%;
    }

    .slide_one_button_container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 25px;
        width: 80%;
        margin: 15px;
    }

    .slide_two_container{
        width: 95%;
    }

    .slide_two_text{
        width: 80%;
    }

    .slide_two_button_container{
        position: absolute;
        height: 20px;
        top: 194px;
        right: 40px;
        margin: 0px;
    }


    .prev, .next{
        position: absolute;
        top: 355px;
        height: 35px;
    }

    .prev img, .next img{
        width: 35px;
        opacity: .3;
        transition: .5s;
    }

    .prev img:hover, .next img:hover{
        opacity: 1;
        transition: .5s;
        cursor: pointer;
    }

    .prev{
        left: 15px;
    }

    .next{
        left: 310px;
    }

    .video{
        display: flex;
        width: 100%;
    }

    .video video{
        width: 100%;
    }
}