html{
    background: #999999;
}

.ad_unit{
    display: flex;
    height: 520px;
}

.carousel{
    display: relative;
    height: 520px;
    min-height: 520px;
    width: 630px;
    min-width: 630px;
    overflow: hidden;
}

.carousel_track{
    display: flex;
    width: 1260px;
    transition: .5s;
}

.pos0{
    transform: translateX(0%);
}

.pos1{
    transform: translateX(-50%);
}

.slide_one_large, .slide_two_large{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    height: 100%;
}

.slide_one_large_button, .slide_two_large_button{
    height: 100%;
}

.slide_one_large{
    background: #233c5b;
}

.slide_one_large_logo_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 85%;
    margin: 50px 0px;
}

.slide_one_large_logo{
    width: 300px;
    height: 50px;
}

.slide_one_large_text{
    width: 85%;
}

.slide_one_large_button_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 85%;
    margin: 50px;
}

.slide_two_large{
    background: #ffffff;
}

.slide_two_container{
    width: 95%;
    margin: 40px 0px;
}

.slide_two_large_button_container{
    display: flex;
    justify-content: flex-start;
    height: 45px;
    margin: 100px 0px 0px 0px;
}

.inactive{
    display: none;
}

.active{
    display: flex;
}

.prev, .next{
    position: absolute;
    top: 340px;
}

.prev img, .next img{
    opacity: .3;
    transition: .5s;
}

.prev img:hover, .next img:hover{
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}

.prev{
    left: 15px;
}

.next{
    left: 540px;
}

.prev img, .next img{
    width: 50%;
}


.video{
    display: flex;
    height: 100%;
}

.video video{
    height: 100%;
}