html{
    background: #999999;
}

.ad_unit{
    display: flex;
    height: 520px;
}

.carousel{
    display: flex;
    height: 100%;
    width: 630px;
    min-width: 630px;
}

.slide_one_large, .slide_two_large{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.slide_one_large_button, .slide_two_large_button{
    height: 100%;
}

.slide_one_large{
    background: #233c5b;
}

.slide_one_large_logo_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 85%;
    margin: 50px 0px;
}

.slide_one_large_logo{
    width: 300px;
    height: 50px;
}

.slide_one_large_text{
    width: 85%;
}

.slide_one_large_button_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 85%;
    margin: 50px;
}

.slide_two_large{
    background: #ffffff;
}

.slide_two_container{
    width: 95%;
    margin: 40px 0px;
}

.slide_two_large_button_container{
    display: flex;
    justify-content: flex-start;
    height: 45px;
    margin: 100px 0px 0px 0px;
}

.video{
    display: flex;
    height: 100%;
}

.video video{
    height: 100%;
}